.carousel-container {
  display: flex;
  align-items: center;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 60%; /* Adjust as needed */
}

.carousel-item {
  min-width: 33.33%; /* For 3 items in view */
  text-align: center;
}

.carousel-button {
  background-color: #ddd;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.carousel-button:hover {
  background-color: #ccc;
}
