/* Fix Header alignment issue on biography page */
*{
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  column-gap: 10px; 
}

.image-grid img {
  max-width: 100%;
  height: auto;
}

.image-caption {
  font-family: 'Instrument Serif', serif;    margin: 0;
  line-height: 1;
}

body {
  padding: 5px;
}
.carousel-item {
  /* Existing styles */
  transition: transform 0.5s ease-in; /* Adjust the duration and easing function as needed */
}

.exhibitions-label {margin-left: 30px;}
div.carousel-counter{text-align: right;  font-family: 'Instrument Serif', serif;    bottom: 0;
  margin-bottom: -1px;
  position: absolute;
  text-align: center;
  padding-left: 47%;
}
#header-container {
  min-height: 18px; /* Adjust this to match your header's height */
  /* Other styles to match the header's look, possibly a loading indicator */
}
.carousel-container {
  display: flex;    flex-direction: column; height:  calc(100% - 18px);;

  justify-content: center;
  width: 100%;
}
a{color: #000;}
.portrait {
  grid-column: span 1;
}
.biotitle {margin-top: 40px;}
.landscape {
  grid-column: span 2;
}

.sort-arrow {
  display: inline-block;
  transform: rotate(0deg);
  /* Default state pointing down */
  transition: transform 0.3s ease-in-out;
}
.carousel-item a {    height: 100%;
  /* padding: 11px; */
  display: flex;
  flex-direction: column;}

.sort-arrow.up {
  transform: rotate(180deg);
  /* Flipped state pointing up */
}



div#eventTitle.grid-title,
div#hostTitle.grid-title,
div#yearTitle.grid-title {
  cursor: pointer;
}

.artwork-container {
  display: grid;
  gap: 10px;
  font-family: 'Instrument Serif', serif;
  grid-template-columns: 2fr 0.5fr 0.5fr;
  margin-bottom: 5px;
}

.event-container {
  display: grid;
  gap: 10px;
  font-family: 'Instrument Serif', serif;
  grid-template-columns: 2fr 0.5fr 0.5fr;
  margin-bottom: 5px;
}

.event-header {
  margin-bottom: 10px;
}

button {
  line-height: 0;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel-item {
  flex: 0 0 33.33%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-button {
  border: none;
  cursor: pointer;
  font-family: 'Instrument Serif', serif;
  position: absolute;
  bottom: 10px;
}

.carousel-button.prev {
  left: 5px;
z-index: 2;
}

.carousel-button.next {
  right: 5px;

}

.biocontainer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 20px;
}




.biocolumn {
  flex-basis: calc(33.33% - 20px);
  margin: 10px 5px;

}



.caption-text sup {
  top: 10px;
  padding-left: 5px;
  vertical-align: top; /* Aligns sup tag with the baseline of the text */

}

.caption {

  font-family: 'Instrument Serif', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.caption-text {
  display: flex;
}



@media screen and (max-width: 768px) {

  /* Adjust the max-width as needed */
  .carousel-item {
    flex: 0 0 100%;
  }

  .index-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .event-header {
    display: none;
  }

  .biocontainer {
    grid-template-columns: 1fr;
  }

div.grid-item.year{position: absolute;right:10px}
div.artwork-container{margin-top: 30px;}
.artwork-container {
  grid-template-columns: 1fr;}

}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-header a {
  text-decoration: none;
  color: #000;
  /* Example text color */
  font-size: 16px;
  font-family: 'Instrument Serif', serif;

}


H1,
p {
  font-family: 'Instrument Serif', serif;
}


.radio-container label {
  gap: 10px;
  font-family: 'Instrument Serif', serif;
  margin-right: 10px;
}

/* Style square radio buttons */
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 13px;
  /* Set the width and height to create a square */
  height: 13px;
  border: 1px solid #000;
  /* Add a border for the square shape */
  border-radius: 0;
  /* Remove border radius to make it square */
  outline: none;
}

.upcoming {
  background: lime
}

/* Style radio button when checked */
input[type="radio"]:checked {
  background-color: #000;
  /* Change the background color when checked */
}


.artwork-container:hover {
  border-bottom: 1px solid #000;
  /* Adjust the color and size as needed */
}

.grid-header {
  display: contents;
  /* This ensures the header aligns with the grid */
}
