body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Prevent scrolling */
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.artwork-container {
  display: grid; 
  gap: 10px; font-family: 'Instrument Serif', serif;
  grid-template-columns: 2fr 1fr 1fr;
}
button{line-height: 0;}
.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel-item {
  flex: 0 0 33.33%;
  /* For 3 items in view */
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  /* Full height of the item */
  object-fit: cover;
  /* Ensures images cover the entire item area */
}

.carousel-button {
  border: none;
  cursor: pointer;
  font-family: 'Instrument Serif', serif;
  position: absolute;
  bottom: 10px;
}

.carousel-button.prev {
  left: 5px;
  /* Position slightly to the left of the next button */

}

.carousel-button.next {
  right: 5px;

}

.caption {
  margin-top: auto;
  font-family: 'Instrument Serif', serif;
  display: flex;
  justify-content: space-between;
}
sup{top:10px!important;padding-left:5px}
.year {
  text-align: right;
  margin-left: auto;
}


@media screen and (max-width: 600px) { /* Adjust the max-width as needed */
  .carousel-item {
      flex: 0 0 100%; /* For 1 item in view on mobile */
  }

}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 5px;
}

.menu-header a {
  text-decoration: none;
  color: #000; /* Example text color */
  font-size: 16px;
  font-family: 'Instrument Serif', serif;

}


H1{  font-family: 'Instrument Serif', serif;}



       /* Style the radio buttons and labels */
       .radio-container {
        display: flex;
        align-items: center;    margin-bottom: 20px; justify-content: center; 
    }

    .radio-container label {    gap: 10px;  font-family: 'Instrument Serif', serif;    margin-left: 30px;


        margin-right: 10px;
    }
    /* Style square radio buttons */
    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 13px; /* Set the width and height to create a square */
      height: 13px;
      border: 1px solid #000; /* Add a border for the square shape */
      border-radius: 0; /* Remove border radius to make it square */
      outline: none;
  }

  /* Style radio button when checked */
  input[type="radio"]:checked {
      background-color: #000; /* Change the background color when checked */
  }


.artwork-container:hover {
    border-bottom: 1px solid #000; /* Adjust the color and size as needed */
}

.grid-header {
  display: contents; /* This ensures the header aligns with the grid */
}

.grid-title {
  font-weight: bold; /* Example styling for titles */
  /* Add more styling as needed */
}
